.unity-radio-button__checkmark {
    background-image: url('project://database/Assets/EasySky/SlideToggle/Resources/Check.png?fileID=2800000&guid=ef36c99079f95c54ca98ce3705a9deef&type=3#Check');
    width: 15px;
    height: 15px;
    border-radius: 0;
    margin-top: -2px;
}

.unity-radio-button {
}

.unity-radio-button__checkmark-background {
    border-width: 0;
    border-radius: 0;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    background-image: url('project://database/Assets/EasySky/SlideToggle/Resources/EmptyCheck.png?fileID=2800000&guid=ab7b76decf70e3047abda492b5dfbd06&type=3#EmptyCheck');
}

.unity-radio-button__input {
    width: 20px;
    max-width: 20px;
    min-width: 20px;
}
